.THIS .slds-theme_backgroundColor-Body {
    background-color: #F8F8FF;
    color : black;
    
}

.THIS .slds-theme_backgroundColor-head {
    background-color: #e3e3e8;
    color : black;
    font-size: 11pt;
    
}